* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: BB-Anonim;
    src: url(fonts/BBAnonymPro-Normal.ttf);
}
.body {
    font-family: BB-Anonim, sans-serif;
    background-color: #ade8f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapper {
    align-self: center;
    margin-top: 100px;
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.input-container__input {
    width: 400px;
    height:55px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    outline: none;
    padding: 2px;
}
.autocomplete-list {
    width:400px;
    max-height: 400px;
    margin:0;
    background-color: white;
    list-style: none;
    padding: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
.autocomplete-list__item {
    padding: 2px;
    font-size: 22px;
    height: 40px;
}
.autocomplete-list__item:hover,
.autocomplete-list__item:focus{
    background-color: #5e60ce;
    color: white;
}
.active {
    display: block;
}
.repos-list{
    display: flex;
    justify-content: space-between;

}
.repos-list__item {
    width: 200px;
    height: 130px;
    background-color: #48cae4;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: -2px 2px 3px 1px #0096c7;

}
.repos-list__text {
    margin-left: 5px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 5px;
    width: 150px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.repos-list__button {
    background-color: rebeccapurple;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 0;
    margin-left: 160px;
    position: relative;

}
.repos-list__button::before {
    content: '';
    background-image: url("icon/icon.svg");
    position: absolute;
    width: 20px;
    height: 20px;
    left: 9px;
    top: 6px;
}
.hidden{
    display: none;
}


